<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td><%= link_to(book.user) do %>
          <%= image_tag book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to book.title,book %></td>
        <td><%= book.body %></td>

　　　　<!--ファボを非同期通信化-->
        <td id="favorite_buttons_<%= book.id %>">
          <%= render "favorites/btn", book: book %>
        </td>
         <!--ファボここまで-->

        <td>コメント数：<%= book.book_comments.count %></td>

        <td>
          <% if current_user != book.user %>
              <% if book.user.followed_by?(current_user) %>
                  <p><%=link_to "フォロー外す", user_relationships_path(book.user.id), method: :delete %></p>
              <% else %>
                  <p><%=link_to "フォローする", user_relationships_path(book.user.id), method: :post %></p>
              <% end %>
          <% end %>
        </td>


      </tr>
    <% end %>
  </tbody>
</table>